body{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    align-content: center;
    background-image: url("../files/Background/BgPrincipale2.jpg"); 
    background-size: cover;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;  
}

canvas{
    /*margin-top: 5%;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);*/
    border: 1px solid #635efaff;
    cursor: none;
    z-index: 1;
}

.btnStart{
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: flex-end;
    align-items: flex-end;  
    position: fixed;
    left: 0px;
    border: none; 
    padding: 5px 15px;
    color: white;
    font-size: 1em;
    font-weight: bold; 
    background-color:  #3f3c8a;
    cursor: pointer;
    z-index: 11;
    height : 50px;
    
    
    &::before{
        content: '';
        background: url('./../files/imgBtnJouer.png') center no-repeat;  
        position: absolute; 
        top: 0px; 
        left: 0px; 
        width: 200px;   
        height: 50px; 
        background-color: #635efaff;
        line-height: 50px; 
        transition: all 0.7s ease-in-out; 
         
    }
    &:hover{
        
        &::before{
            width: 100%;
           
        }
    }
}


.blockPortfolio{
    position: absolute;
    z-index: 10; 
    margin: 0 auto;
    height: auto;
    background-color: #2D2D2E;
    padding: 25px; 
    padding-top: 0px; 
    border: 1px solid #635efaff;
    border-top: none; 
}

.info{
    width: 100%; 
    margin-top: 75px; 
}

.btnRecruteur{
    width: 100%; 
    background-color: rgba(255, 0, 0, 1); 
    border: 3px solid rgba(255, 0, 0, 1); 
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, .5);
    border-radius: 5px;
    color: white; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;  

    a{
        color: white; 
    }
    
    &:hover{
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .5);
    }
}

.contact{
    .description{
        text-align: center; 
        color: white; 
        margin: 15px auto; 
    }
    .prez{
        width: 100%; 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-between; 
        align-items: center;
        
        
        
        h1,h2{
            font-size: 3vw; 
            color: #0098d3ff; 
            font-weight: bold;
    
            @media (max-width: 639px){
                font-size: 6vw; 
            }
        }
    }
    .adresse{
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-between; 
        align-items: center; 
        color: white;

        span{
            display: flex;
            flex-flow: row nowrap; 
            align-items: center;  
            margin: 5px 0px; 

            span{
                margin-right: 5px; 
            }
        }

        a{
            display: flex;
            flex-flow: row nowrap; 
            align-items: center;  
            margin: 5px 0px; 
            color: white; 
           
            span{
                margin-right: 5px; 
            } 
        }

        >div:last-child{
            display: flex;
            flex-flow: row nowrap; 
            align-items:center; 


        }
    }
}


.blockLogoTech{

    flex-flow: column nowrap; 


    span{
        display: flex; 
        flex-flow: row wrap; 
        align-items: center;
        justify-content: space-around; 


        h3{
            width: 100%;
            padding: 5px; 
            margin: 20px 0px 10px 0px; 
            color:grey;  
            text-align: center; 
            border-bottom: 1px solid grey; 

        }
    }
}

.blockExp{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start; 

    img{
        height: 75px; 
        width: 75px;
        margin-right: 15px;  
    }
    div{
        h3{
            color: white; 
            margin-bottom: 5px;
            font-size: 1.5em; 
        }
        a{
            color: #0098d3ff;
            margin-bottom: 5px;
            display: block;  
        }
        p{
            color: lightgrey;
            margin-bottom: 5px; 
        }
    }
}

.etude{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 

    img{
        max-height: 75px; 
        max-width: 175px;
        margin-right: 15px;  
    }
    div{
        h3{
            color: white; 
            margin-bottom: 5px;
            font-size: 1.5em; 
        }
        a{
            color: #0098d3ff;
            margin-bottom: 5px;
            display: block;  
        }
        p{
            color: lightgrey;
            margin-bottom: 5px; 
        }
    }
}


.ExpAnnexe{
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: space-between; 

    .waitScore{
        width: 100;  
    }
    div{
        h3{
            color: white; 
            margin-bottom: 5px;
            font-size: 1.5em; 
        }
        a{
            color: #0098d3ff;
            margin-bottom: 5px;
            display: block;  
        }
        p{
            color: lightgrey;
            margin-bottom: 5px; 
        }
    }
}

.sep{
    margin-top: 25px;
    margin-bottom: 25px; 
    display: flex; 
    flex-flow: row nowrap;
    align-items: center; 

    h2{
        display: flex; 
        width: 100%; 
        font-weight: bold; 
        color: #0098d3ff; 
        font-size: 20px; 
    }

    span{
        
        height: 2px; 
        width: 100%; 
        display: flex; 
        background-color: #0098d3ff;
        box-shadow: 0px 0px 10px 0px rgba(0, 152, 211, .5);  
    }
}

.hrExp{
    width: 50%; 
    margin: 10px auto; 
    border-color: grey;
    box-shadow: none; 
}

hr{
    width: 75%; 
    margin: 10px auto; 
    border-color: #0098d3ff;
    box-shadow: 0px 0px 10px 0px rgba(0, 152, 211, .5); 
}

.waitScore{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around; 
    align-items: center; 
    border: 1px solid grey; 
    border-radius: 5px;
    padding: 10px 15px;
    color: white; 
    margin: 15px auto;

    .sepVerticale{
        height: 45px; 
        width: 2px; 
        margin: 0px 10px; 
        background-color: grey; 
    }

    .BtnPlay{ 
        padding: 10px 15px; 
        font-size: 24px;
        font-weight: bold; 
        color: white;
        background-color: #0098d3ff;
        box-shadow: 0px 0px 10px 0px rgba(0, 152, 211, .5);
        border: 2px solid #0098d3ff;
        border-radius: 5px; 
        
        &:hover{
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .5);
        }
    }
}


.iconS{
    height: 15px;
    width: 15px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
}

.iconM{
    height: 30px;
    width: 30px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
}


.iconPhone{
    background-image: url('../files/icons/phone.svg'); 
}

.iconEmail{
    background-image: url('../files/icons/email.svg'); 
}

.iconLinkedIn{
    background-image: url('../files/icons/linkedin.svg'); 
}

.iconLocation{
    background-image: url('../files/icons/location.svg'); 
}

.iconCadenas{
    background-image: url('../files/icons/lock.svg'); 
}

.iconTech{
    height: 50px;
    width: 50px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.iconHtml5{
    background-image: url('../files/icons/iconsLangage/html5.svg'); 
}
.iconCSS3{
    background-image: url('../files/icons/iconsLangage/css3.svg');
}
.iconJs{
    background-image: url('../files/icons/iconsLangage/javascript.svg');
}
.iconTypeScript{
    background-image: url('../files/icons/iconsLangage/typescript.svg');
}
.iconNodeJs{
    background-image: url('../files/icons/iconsLangage/nodejs.svg');
}
.iconMongoDb{
    background-image: url('../files/icons/iconsLangage/mongodb.svg');
}



.iconAngular{
    background-image: url('../files/icons/iconsLangage/angularjs.svg');
}
.iconBootstrap{
    background-image: url('../files/icons/iconsLangage/bootstrap.svg');
}
.iconJquery{
    background-image: url('../files/icons/iconsLangage/jquery.svg');
}

.iconMeteor{
    background-image: url('../files/icons/iconsLangage/meteor.svg');
}
.iconSass{
    background-image: url('../files/icons/iconsLangage/sass.svg');
}
.iconVueJs{
    background-image: url('../files/icons/iconsLangage/vuejs.svg');
}


.iconWebpack{
    background-image: url('../files/icons/iconsLangage/webpack.svg');
}
.iconGit{
    background-image: url('../files/icons/iconsLangage/git.svg');
}
.iconGitHub{
    background-image: url('../files/icons/iconsLangage/github.svg');
}
.iconGitLab{
    background-image: url('../files/icons/iconsLangage/gitlab.svg');
}
.iconNPM{
    background-image: url('../files/icons/iconsLangage/npm.svg');
}

.iconAws{
    background-image: url('../files/icons/iconsLangage/aws.svg');
}
.iconHeroku{
    background-image: url('../files/icons/iconsLangage/heroku.svg');
}
.iconSSH{
    background-image: url('../files/icons/iconsLangage/ssh.svg');
}
.iconNginx{
    background-image: url('../files/icons/iconsLangage/nginx.svg');
}


.iconPhotoshop{
    background-image: url('../files/icons/iconsLangage/photoshop.svg');
}
.iconIllustrator{
    background-image: url('../files/icons/iconsLangage/illustrator.svg');
}
.iconGimp{
    background-image: url('../files/icons/iconsLangage/gimp.svg');
}
.iconInkScape{
    background-image: url('../files/icons/iconsLangage/inkscape.svg');
}

















/************************ Class JS Animation *******************/ 

.disableScore{
    display: none !important; 
}

.enableScore{
    display: flex !important; 
}

.defaultScore{
    display: flex !important;
}






.upBlockMain{
    animation: upMove 1s linear; 
}

@keyframes upMove {
    0%{
        top: 0px; 
    }
    90%{
        display: none;
    }
    100%{
        top: -2000px; 
    }
}


.downBlockMain{
    animation: downMove 1s linear; 
}

@keyframes downMove {
    0%{
        top: -2000px; 
    }
    10%{
        display: block; 
    }
    100%{
        top: 0px; 
    }
}

.initTop{
    top: 0px; 
}
.hide{
    display: none; 
}

.show{
    display: block; 
}





